# Code Owners for DibyajyotiBiswal57/programs
# These owners will be automatically requested for review when someone opens a pull request

# Default owners for everything in the repo
* @DibyajyotiBiswal57 @Quantum404AK
